body {
	width: 95%;
	margin: 20px auto;
	font-size: 16px;
	font-family: sans-serif;
}

body, th, td {
	line-height: 1.4;
}

video, table {
	width: 100%;
}

body, img, video {
	max-width: 640px;
}

img {
	min-width: 65%;
}

pre {
	border-left: 5px solid #DDD;
	padding: 5px 15px;
	overflow: auto;
}

table {
	table-layout: inherit;
}

th, td {
	vertical-align: top;
	padding: 5px;
}

blockquote {
	font-style: italic;
}

figure {
	margin: 0px;
}

thead {
	text-align: left;
}

.list {
	font-family: monospace;
}

.foot {
	display: none;
}

.nav {
	table-layout: fixed;
}

.censored a, .censored a:visited {
	color: inherit;
}
